{
    "netbrain_user": "",
    "netbrain_password": "",
    "netbrain_url": "",
    "tenant_name": "",
    "domain_name": "",
    "credentials": {
        "Cisco": {
            "username": "",
            "password": ""
        },
        "Palo Alto Networks": {
            "username": "",
            "password": ""
        }
    }
}
